In [ ]:
import json
import sqlite3
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mat
import matplotlib.pyplot as plt
import colorsys
plt.style.use('seaborn-talk')
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
import datetime

In [ ]:
df = pd.read_json('atento0.json', orient='records', nrows=4000000, lines=True)
df

In [ ]:
# Questão 1. RESULTADO
# A distância média percorrida por viagens com no máximo 2 passageiros é:
df.loc[df['passenger_count'] == 2, 'trip_distance'].mean()

In [ ]:
# Questão 2.Verificar quantos vendors diferentes existem 
print(df.groupby('vendor_id').size())

In [ ]:
# Questão 2. Utilizar o método groupby() em múltiplas colunas, o count faz a contagem de linhas, ou seja, só do vendor (tipo texto/string), 
# já o sum faria a contagem do número decimal, ou seja, só do 'total_amount'
print(df.groupby('vendor_id')['total_amount'].count())

In [ ]:
# Questão 2. RESULTADO
# Os 3 maiores vendors (CMT/ DDS/ VTS/ TS) em quantidade total de dinheiro arrecadado (total_amount) são:
print(df.groupby('vendor_id')['total_amount'].sum())

In [ ]:
# Questão 3. Verificar quantos tipos de pagamentos diferentes existem 
print(df.groupby('payment_type').size())

In [ ]:
# Questão 3. Padronizar os tipos de pagamento em letras Minúsculas e verificar novamente os tipo de pagamento
print(df.groupby(df['payment_type'].str.lower()).size())

In [ ]:
# Questão 3. Criar coluna de Dia, Mês e Ano
df['day'] = df.dropoff_datetime.str.slice(8,10)
df['month'] = df.dropoff_datetime.str.slice(5,7)
df['year'] = df.dropoff_datetime.str.slice(0,4)
df

In [ ]:
# Questão 3. Criar coluna limpa de Tipo de pagamento
df['pagamento'] = df['payment_type'].str.lower()
df

In [ ]:
# Questão 3. Criar coluna Data e Datafull
df['data'] = df['month'].str.cat(df['year'],sep=".")
df['datafull'] = df['day'].str.cat(df['data'],sep=".")
df

In [ ]:
# Questão 3. Mudar tipo da coluna Data e Datafull
df["datafull"] = df["datafull"].astype('datetime64[ns]')
df["data"] = df["data"].astype('float')
df

In [ ]:
# Questão 3. Criar Dataframe selecionado por linhas com tipo de pagamento ‘cash’
df.set_index("pagamento",
            inplace = True)
# Selecionando linhas com tipo de pagamento ‘cash’
df1 = df.loc[["cash"]]
df1

In [ ]:
# Questão 3. Criando um DataFrame object de uma lista
df3 = pd.DataFrame(df1,
                columns =['data'])
df3

In [ ]:
# Questão 3. RESULTADO 1
df3.data.hist(bins = 12)
plt.xlabel("Meses")
plt.ylabel("Frequência de passageiros")
plt.title("Distribuição de corridas pagas em dinheiro")
plt.show()

In [ ]:
# Questão 3. RESULTADO 2
sns.distplot(df3['data'],kde=False,bins=12)
plt.xlabel("Meses")
plt.ylabel("Frequência de passageiros")
plt.title("Distribuição de corridas pagas em dinheiro")
plt.show()